{{template "base" .}}

{{define "title"}}About{{end}}
{{define "body"}}

<h2>Why we bulit this app</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, provident quidem consectetur eaque a veritatis
    voluptatum sunt vitae fugit modi saepe voluptatem voluptate aliquid distinctio? Aut, accusamus cum? Sint,
    molestiae.</p>

{{end}}