{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A simple app to share snippets of info that you think might be helpful to others">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>{{template "title" .}}</title>
</head>

<body>
    <header>
        <a href="/" aria-label="Start using Snippetbox"> <img src="/static/img/vecteezy_scissors.png" width="32"
                height="48" alt="logo"></a>
        <h1>Snippetbox </h1>
        {{template "nav-bar" .}}
    </header>

    <main>
        {{template "body" .}}
    </main>
    {{template "footer" .}}
</body>

</html>
{{end}}