{{template "base" .}}

{{define "title"}}Contact{{end}}
{{define "body"}}

<h2>Contact</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, provident quidem consectetur eaque a veritatis
    voluptatum sunt vitae fugit modi saepe voluptatem voluptate aliquid distinctio? Aut, accusamus cum? Sint,
    molestiae.</p>
<h3>Tel Nr: 02215468/h3>
    <h5>Ask for Job</h5>

    </main>
    {{end}}