{{define "footer"}}

<section>
    <h2>AA &#169;2024</h2>
    <p><span><strong>Powered by</strong></span> <a href='https://golang.org/'><img alt="the go mascot"
                src="/static/img/gopher_head-min.webp" width="70"></a></p>
</section>
{{end}}