{{template "base" .}}

{{define "title"}}Home{{end}}
{{define "body"}}
<!-- design home page -->
<section class="home">
    <h2 class="table-title">Latest Snippets</h2>
    {{if .Snippets}}
    <table>
        <tr>
            <th class="id">id</th>

            <th>Title</th>
            <th>Created</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td class="id">id: {{.ID}}</td>

            <td><a href='/snippet?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .CreatedAt}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here... yet!</p>
    {{end}}

</section>

<section class="home">
    helpful links
    <h2 class="table-title">Latest Lists</h2>
    {{if .Lists}}
    <table>
        <tr>
            <th>id</th>

            <th>Title</th>
            <th>Content</th>
            <th>Created</th>
        </tr>
        {{range .Lists}}
        <tr>
            <td class="id"><em>id: {{.ID}}</em></td>
            <td><a href='/list?id={{.ID}}'>{{.Title}}</a></td>
            <td><strong>{{.Content}}</strong></td>
            <td><em>{{humanDate .CreatedAt}}</em></td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here... yet!</p>
    {{end}}

</section>
{{end}}