{{define "nav-bar"}}

<nav>
    <ul>
        <li><a href="/" aria-label="Start using Snippetbox">Home</a></li>
        <li><a href="/about" aria-label="Read more about Snippetbox">About</a></li>
        <li><a href="/contact"aria-label="Please Contact us ">Contact</a></li>
    </ul>
</nav>

{{end}}