{{template "base" .}}

{{define "title"}}{{end}}
{{define "body"}}
{{with .Snippet}}
<!-- redesign this page for new content -->
<section class="snippet">
    <samp class="card-lg">
        <div class="metadata">
            <p>ID: {{.ID}}</p>
            <h2><strong>{{.Title}}</strong></h2>
        </div>

        <pre> <samp><code class="content">{{.Content}}</code></samp></pre>
        <div class="metadata">
            <time>Created: {{humanDate .CreatedAt}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
        </article>
</section>
{{end}}
{{with .List}}
<section class="snippet">
    <div class="card-lg">
        <div class="metadata">
            <span>ID: {{.ID}}</span>
            <h2><strong>{{.Title}}</strong></h2>
        </div>

        <div> <span class="content">{{.Content}}</span></div>
        <div class="metadata">
            <time>Created: {{humanDate .CreatedAt}}</time>
            <p>Completed: {{.Done}}</p>
        </div>
        </article>
</section>
{{end}}
{{end}}