* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgba(58, 59, 60, 0.899);
    color: rgb(218, 219, 250);
}

header {
    position: relative;
    display: grid;
    grid-row: 1/2;
    grid-template-areas:
        "logo title title title .."
        "nav nav nav nav nav";
    background-image: linear-gradient(rgb(165, 156, 156), rgba(211, 179, 179, 0.915), rgba(231, 207, 207, 0.826));
    border-radius: 5em 5em 0 0;
    align-self: top;
    width: 100dvw;
    min-height: 12dvh;
    box-shadow: inset 1px -2px 2px rgb(1, 13, 52);

}

header>a {
    position: absolute;
    top: 1em;
    left: 1.3em;
    grid-area: logo;
    padding: 0.6em 0.2em;
    transform: rotate(42deg);
}


header h1 {
    letter-spacing: 0.2ch;
    grid-area: title;
    justify-self: center;
    font-size: 2.4rem;
    color: rgba(23, 27, 40, 0.716);
    font-weight: 900;
    margin-block: 0;
}

@media screen and (max-width: 25rem) {
    header>a {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }
}

nav {
    grid-area: nav;
    justify-self: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.6em;
    padding: 0;
}

nav>ul>li>a {
    color: rgb(6, 5, 53);
    font-size: 1.2rem;
    font-weight: 500;
}

li {
    list-style: none;
}

main {
    font-size: 1.3rem;
    display: flex;
    padding: 1em 2em;
    flex-direction: column;
    color: rgb(198, 195, 195);
    background-image: linear-gradient(to right, rgb(115, 137, 122), rgba(84, 67, 67, 0.915), rgba(111, 153, 106, 0.826));
    min-height: 80dvh;
    box-shadow: inset 1px 3px 18px rgba(80, 31, 2, 0.816);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(23, 27, 40);
    background-image: linear-gradient(rgb(165, 156, 156), rgba(211, 179, 179, 0.915), rgba(231, 207, 207, 0.826));
    min-height: 8dvh;
    box-shadow: inset 1px 2px 3px rgb(1, 13, 52);
}

.card-sm {
    background-image: linear-gradient(to right, rgb(198, 195, 195), rgb(161, 131, 131));
    border-radius: 0.8em 0.8em 0.1em 0.1em;
    padding: 0.4em 0.8em;
    color: rgb(6, 5, 53);
    min-width: 90dvw;
    min-height: 25rem;
}

.card-lg {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(238, 214, 214, 0.864), rgb(165, 142, 142), rgba(234, 195, 195, 0.881));
    border-radius: 0.8em 0.8em 0.1em 0.1em;
    padding: 0.4em 0.8em;
    color: rgb(6, 5, 53);
    min-height: 25rem;
    box-shadow: inset 1px -1px 10px rgb(1, 13, 52);
}

.metadata {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    letter-spacing: 0.2ch;
}

.metadata>span {
    place-self: flex-end;
}

.metadata h2 {
    place-self: center;
}

.metadata time {
    place-self: center;
}

.content {
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 0.2ch;
    background-image: linear-gradient(to right, rgba(237, 221, 221, 0.241), rgba(224, 172, 172, 0.219));
    color: rgb(6, 5, 53);
    box-shadow: 1px -1px 10px rgba(1, 13, 52, 0.266);
}